body {
    font-family: Arial, sans-serif;
    background-color: #f8e8d0;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #8B4513;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.catalogo {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.bolo {
    background: #fff5e1;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bolo img {
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.bolo h3 {
    margin: 10px 0;
    color: #5a2d0c;
}

.bolo p {
    margin: 5px 0;
    font-size: 14px;
    color: #8B4513;
}

.bolo span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #8B4513;
}

footer {
    background-color: #8B4513;
    color: white;
    padding: 20px;
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

.footer-content {
    max-width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s;
}

.footer-content a:hover {
    color:  rgb(185, 125, 14);
}

.footer-content a img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
