body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: #f6c57a;
        color: #f6c57a;
    }

    header {
        background: #6c361a;
        padding: 25px;
        text-align: center;
        font-size: 32px;
        color: #f6c57a;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .container {
        width: 90%;
        margin: auto;
        padding: 20px 0;
    }

    .section {
        background: #6c361a;
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.08);
    }

    .section h2 {
        margin: 0 0 15px;
        font-size: 26px;
        color: #f6c57a;
    }

    .item {
        display: flex;
        background: #f6c57a;
        border-radius: 18px;
        padding: 15px;
        margin-bottom: 15px;
        align-items: center;
        gap: 15px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.06);
    }

    .photo {
        width: 130px;
        height: 130px;
        border-radius: 15px;
        background: #f6c57a;
        border: 2px dashed #6c361a;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #6c361a;
        font-size: 14px;
    }

    .info {
        flex: 1;
    }

    .info h3 {
        margin: 0;
        font-size: 20px;
        color: #522312;
    }

    .info p {
        margin: 5px 0 10px;
        font-size: 15px;
        color: #522312;
    }

    .price {
        font-size: 18px;
        color: #522312;
        font-weight: bold;
    }

    footer {
        margin-top: 30px;
        padding: 20px;
        text-align: center;
        color: #522312;
        font-size: 14px;
    }

    /* Horários */
    .schedule {
        background: #6c361a;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.08);
        margin-bottom: 30px;
    }

    .schedule h2 {
        color: #f6c57a;
        margin-bottom: 10px;
    }
